@import '/profile';
@import '/override';
@import '/variables';
@import '/menu';
@import  '/blog';
@import '/skills';
@import '/animation';


/* // FONT CALLS */
/* font-family: 'Karla', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Ubuntu', sans-serif; */
