

.backgroundimage {
    background: url('../Images/leaves.svg') center no-repeat;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    max-height: 100%;
    position: fixed;
    background-position: bottom;
    position: relative;
    font-family: 'Lato', sans-serif;
   }

.okay{
  position: absolute;
  top: 8px;
  left: 16px;
}

.menu{
    /* background: url("../Images/leaves.svg"); */
    background-color: #cccccc;
}

.textContainer{
    border-width: 2px;
	padding:  30px;
	border-radius: 5px;
    border-color: #E6E894;
    border-style: solid;
    font-size: 30px !important;
}

p.profileText{
 font-size: 24px;
}
