

.backgroundimage {
    background: url('../Images/leavesFullScreen.svg') center no-repeat;
    background-position: fixed;
    background-size: cover;
    z-index: -100;
    width: 100%;
    height: 100%;
    //add a media query to remove position fixed if mobile view
    position: fixed;
    left: 0px;
    top: 0px;
   }



   .rowContainer {
       background-color: white;
       margin-top: 2em;
       //only keep that height for desktop views
       height:16em;
       margin: 2em
   }

.okay{
  position: absolute;
  top: 8px;
  left: 16px;
}

.menu{
    background-color: #cccccc;
}

.textContainer{
    border-width: 2px;
    z-index: 200;
    border-color: #E6E894;
    border-style: solid;
    padding: 1em;
    font-size: 30px !important;
}

p.profileText{
 font-size: 24px;
}


//   .stylie {
//     background: url('../Images/rainBackgroundLighter.svg');
//     animation-name: stylie-transform-keyframes;
//     animation-duration: 5000ms;
//     position: absolute;
//     overflow:hidden;
//     padding-left: 200px;
//     height: 9000%;
//     width: 100%;
//     z-index: -200;
//     animation-fill-mode: forwards;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
//     transform-origin: 0 0;
//   }
//   @keyframes stylie-transform-keyframes {
//     0% {transform:translate(0px, 0px)rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);animation-timing-function: cubic-bezier(.75,.75,.75,.75);}
//     100% {transform:translate(0px, 555px) rotateZ(0deg) translate(-50%, -50%);}
//   }html::after { content: url('../Images/rainBackgroundLighter.svg'); position: absolute;  }
