


.menu{
    /* background: url("../Images/leaves.svg"); */
    background-color: #cccccc;
}

.textContainer{
    border-width: 2px;
	padding:  30px;
	border-radius: 5px;
    border-color: #E6E894;
    border-style: solid;
    font-size: 30px !important;
}

p.profileText{
 font-size: 24px;
}
